.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5a8dfc;
}

.target {
  display: block;
  width: 200px;
  height: 200px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
 
}

.target:hover {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.3s ease-in;
}
